application/logs
application/public_html/.htaccess
application/uploads
application/public_html/uploads
__old
.ssh
_backups
mysql_backups
application/.DS_Store
.DS_Store
*.DS_Store
license.txt
README.md
public_html/.htaccess
.htaccess
.bash_history